* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 100%;
  min-width: 320px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrap {
  padding-left: 100px;
}

h1,
h2,
h3 {
  font-family: Montserrat;
  font-weight: bold;
}

h1 {
  font-size: 64px;
  line-height: 70px;
}

h2 {
  font-size: 51px;
  line-height: 62px;
  padding-bottom: 23px;
}

h3 {
  font-size: 35px;
  line-height: 70px;
}

h4,
pre,
p,
a {
  font-family: Noto Sans;
}

h4 {
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}

h5 {
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
}

p {
  font-size: 18px;
  line-height: 25px;
}

a {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-left: 85px;
}

.header_logo,
.header_login {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: 93px;
}

.header_logo > img:first-child {
  margin-right: 8px;
}

.header_login {
  padding-top: 10px;
}

.header_login img {
  margin-right: 15px;
}

.demo {
  display: flex;
  padding-right: 185px;
  margin-bottom: 75px;
  padding-top: 19px;
}

.demo_description {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 180px;
  padding-top: 124px;
}

.demo_description h1 {
  padding-bottom: 127px;
  /* padding-left: 100px; */
}

.line {
  position: relative;
  width: 139.43px;
  height: 0px;
  left: -33px;
  top: 22px;
  border: 1px solid #ffffff;
  transform: rotate(120.61deg);
}

.demo_description pre > h5 {
  padding-left: 103px;
}

.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 69px;
}

.download_links {
  display: flex;
  margin-right: 163px;
  column-gap: 27px;
}

.cookie {
  margin-bottom: 79px;
}

.cookie_wrap {
  padding-left: 99px;
  min-height: 90px;
  background-color: #212834;
  display: flex;
  justify-content: space-between;
}

.cookie_small-text {
  font-size: 14px;
  line-height: 19px;
  padding-top: 35px;
}

.cookie_button {
  width: 132px;
  height: 50px;
  margin-top: 20px;
  margin-right: 25px;

  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.connection {
  display: flex;
  gap: 84px;
  padding-left: 177px;
  margin-bottom: 225px;
}

.connection_contact,
.connection_login {
  display: flex;
  flex-direction: column;
  max-width: 503px;
  max-height: 312px;
  border: 1px solid;
  border-radius: 21px;
}

.connection_contact {
  padding: 62px 122px 60px 54px;
}

.connection_login {
  padding: 99px 169px 106px 51px;
}

.connection_header {
  padding-bottom: 31px;
}

.connection_link {
  font-size: 24px;
  line-height: 33px;
}
.mission {
  position: relative;
  display: flex;
  margin-bottom: 301px;
  min-height: 524px;
  overflow: hidden;
}

.mission img {
  position: absolute;
  left: -247px;
  top: 19px;
}

.mission_text {
  position: absolute;
  left: 918px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  padding-right: 196px;
}

.verification {
  margin-bottom: 269px;
  max-height: 1135px;
  overflow: hidden;
}

.verification_image {
  min-height: 800px;
  background-color: #000;
  position: relative;
}

.verification_image:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    179.83deg,
    #000000 -3.1%,
    rgba(0, 0, 0, 0) 56.76%,
    #000000 83.92%
  );
  opacity: 0.8;
}

.verification_description {
  display: flex;
}

.verification_images {
  display: flex;
  gap: 49px;
}

.verification_description img {
  position: relative;
  top: -398px;
}

.verification_description img:nth-child(2) {
  margin-right: 79px;
}

.verification_text {
  margin-top: -10px;
  margin-right: 180px;
  padding-left: 48px;
}

.BI-tool {
  display: flex;
}

.BI-tool_image-1 {
  position: relative;
  top: -88px;
  left: 223px;
}

.BI-tool_image-2 {
  position: relative;
  top: 125px;
  left: -346px;
}

.BI-tool_image-3 {
  position: relative;
  top: 171px;
  left: -288px;
}

.BI-tool_image-4 {
  position: relative;
  top: 72px;
  left: 93px;
}

.BI-tool_image-5 {
  position: relative;
  top: -208px;
  left: -155px;
}

.BI-tool_image-6 {
  position: relative;
  top: -61px;
  left: -88px;
}

.BI-tool_image-7 {
  position: relative;
  top: 25px;
  left: 334px;
}
